/* Set card styles */
.is-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.is-card:hover {
  cursor: pointer;
}

.is-card:hover .is-card-button {
  opacity: 1;
}

.is-card:hover .likes {
  opacity: 1;
}

.is-card:hover .photos {
  opacity: 1;
}

.is-card:hover .is-card-image {
  filter: brightness(0.5);
}

.is-card:hover .user-image {
  transform: translate(-50%, -30%) scale(1.3);
}

.card-image {
  position: relative;
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--primary-border-radius);
}

.is-card-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--image-button-bg-color);
  color: var(--font-white);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-16);
  border-radius: var(--border-radius-full);
  padding: 15px 30px;
  border: none;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

.likes {
  position: absolute;
  top: 2%;
  left: 2%;
  font-weight: var(--font-weight-light);
  background-color: var(--secondary-bg-color);
  padding: 5px 10px;
  border-radius: var(--border-radius-full);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

.photos {
  position: absolute;
  top: 2%;
  right: 2%;
  font-weight: var(--font-weight-light);
  background-color: var(--secondary-bg-color);
  padding: 5px 10px;
  border-radius: var(--border-radius-full);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

.is-card-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--primary-border-radius);
  transition: all 0.3s ease;
}

.user-image {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  height: 70px;
  width: 70px;
  border-radius: var(--border-radius-round);
  border: 4px solid red;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 15px var(--nav-active-shadow);
  transition: all 0.3s ease;
}

.is-user-image {
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.user-info p {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
}

.user-info p:nth-child(1) {
  font-weight: var(--font-weight-bold);
}
