/* Set global styles */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  font-family: var(--font-primary);
}

.container {
  max-width: var(--container-max-width);
  padding: 0 var(--container-spacing);
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

/* Set root styles */
:root {
  --font-primary: "Inter Tight", "sans-serif";
  --font-white: white;
  --font-black: black;
  --font-gray: gray;
  --primary-bg-color: white;
  --secondary-bg-color: lightgray;
  --nav-active-button-bg-color: black;
  --nav-hover-bg-color: gainsboro;
  --nav-active-shadow: gray;
  --user-shadow: gray;
  --image-button-bg-color: firebrick;
  --font-size-96: 6rem;
  --font-size-88: 5.5rem;
  --font-size-80: 5rem;
  --font-size-72: 4.5rem;
  --font-size-64: 4rem;
  --font-size-56: 3.5rem;
  --font-size-48: 3rem;
  --font-size-40: 2.5rem;
  --font-size-32: 2rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-16: 1rem;
  --font-size-12: 0.75rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --primary-border-radius: 15px;
  --border-radius-full: 100px;
  --border-radius-round: 50%;
  --container-max-width: 1200px;
  --container-spacing: 2rem;
}

/* Set nav styles */
.nav-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.is-nav-logo {
  height: 45px;
  width: 45px;
}

.is-nav-link {
  color: var(--font-black);
  text-decoration: none;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  border-radius: var(--border-radius-full);
  padding: 15px 30px;
  transition: all 0.3s;
}

.is-nav-link:hover {
  background-color: var(--nav-hover-bg-color);
}

.is-active {
  color: var(--font-white);
  background-color: var(--nav-active-button-bg-color);
  box-shadow: 0 4px 8px var(--nav-active-shadow);
  transition: all 0.3s;
}

.is-active:hover {
  background-color: var(--nav-active-button-bg-color);
  box-shadow: 0 2px 4px var(--nav-active-shadow);
}

.is-nav-search {
  background-color: var(--secondary-bg-color);
  border-radius: var(--border-radius-full);
  color: var(--font-black);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  padding: 15px 30px;
  width: 45%;
  border: none;
}

.is-nav-search::placeholder {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
}

.is-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-round);
  background-color: var(--secondary-bg-color);
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-regular);
  color: var(--font-gray);
  border: none;
  width: 45px;
  height: 45px;
}

/* Set grid styles */
#grid {
  margin: 3rem 0;
}

.is-card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.is-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.is-card:hover {
  cursor: pointer;
}

.is-card:hover .is-card-button {
  opacity: 1;
}

.is-card:hover .likes {
  opacity: 1;
}

.is-card:hover .photos {
  opacity: 1;
}

.is-card:hover .is-card-image {
  filter: brightness(0.5);
}

.is-card:hover .user-image {
  transform: translate(-50%, -30%) scale(1.3);
}

.card-image {
  position: relative;
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--primary-border-radius);
}

.is-card-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--image-button-bg-color);
  color: var(--font-white);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-16);
  border-radius: var(--border-radius-full);
  padding: 15px 30px;
  border: none;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

.likes {
  position: absolute;
  top: 2%;
  left: 2%;
  font-weight: var(--font-weight-light);
  background-color: var(--secondary-bg-color);
  padding: 5px 10px;
  border-radius: var(--border-radius-full);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

.photos {
  position: absolute;
  top: 2%;
  right: 2%;
  font-weight: var(--font-weight-light);
  background-color: var(--secondary-bg-color);
  padding: 5px 10px;
  border-radius: var(--border-radius-full);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;
}

.is-card-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--primary-border-radius);
  transition: all 0.3s ease;
}

.user-image {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  height: 70px;
  width: 70px;
  border-radius: var(--border-radius-round);
  border: 4px solid red;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 15px var(--nav-active-shadow);
  transition: all 0.3s ease;
}

.is-user-image {
  width: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.user-info p {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
}

.user-info p:nth-child(1) {
  font-weight: var(--font-weight-bold);
}

/* Tablet (768px - 1024px) */
@media (max-width: 1024px) {
  /* Header adjustments */
  .is-nav-link {
    display: none;
  }

  .is-nav-search {
    width: 70%;
  }

  /* Grid adjustments */
  .is-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile (less than 768px) */
@media (max-width: 768px) {
  /* Header adjustments */
  .is-nav-link {
    display: none;
  }

  .is-nav-search {
    width: 50%;
    padding: 15px 15px;
  }

  /* Grid adjustments */
  .is-card-grid {
    grid-template-columns: 1fr;
  }
}
